<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<!-- 首页 -->
	<welcome-file-list>
		<welcome-file>/html/user_login.html</welcome-file>
	</welcome-file-list>
	
	<!-- 用户登入 -->
	<servlet>
		<servlet-name>UserLoginServlet</servlet-name>
		<servlet-class>top.karablog.controller.UserLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserLoginServlet</servlet-name>
		<url-pattern>/user_login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserLoginServlet</servlet-name>
		<url-pattern>/html/*</url-pattern>
	</servlet-mapping>
	
	<!-- 用户登入 : 获取验证码 -->
	<servlet>
		<servlet-name>CaptchaServlet</servlet-name>
		<servlet-class>top.karablog.controller.CaptchaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CaptchaServlet</servlet-name>
		<url-pattern>/getCaptcha</url-pattern>
	</servlet-mapping>
	
	<!-- 获取页面 -->
	<servlet>
		<servlet-name>GetHtmlServlet</servlet-name>
		<servlet-class>top.karablog.controller.GetHtmlServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetHtmlServlet</servlet-name>
		<url-pattern>/getHtml</url-pattern>
	</servlet-mapping>
	
	<!-- 获取页面 -->
	<servlet>
		<servlet-name>UserLogoutServlet</servlet-name>
		<servlet-class>top.karablog.controller.UserLogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserLogoutServlet</servlet-name>
		<url-pattern>/user_logout</url-pattern>
	</servlet-mapping>
	
	<!-- 交易记录 -->
	<servlet>
		<servlet-name>SeeLogServlet</servlet-name>
		<servlet-class>top.karablog.controller.SeeLogServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SeeLogServlet</servlet-name>
		<url-pattern>/seeLog</url-pattern>
	</servlet-mapping>
	
	<!-- 水控记录 -->
	<servlet>
		<servlet-name>SeeWaterServlet</servlet-name>
		<servlet-class>top.karablog.controller.SeeWaterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SeeWaterServlet</servlet-name>
		<url-pattern>/seeWater</url-pattern>
	</servlet-mapping>
	
	<!-- 校园卡挂失 -->
	<servlet>
		<servlet-name>LostServlet</servlet-name>
		<servlet-class>top.karablog.controller.LostServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LostServlet</servlet-name>
		<url-pattern>/lost</url-pattern>
	</servlet-mapping>
	
	<!-- 修改查询密码 -->
	<servlet>
		<servlet-name>ChangeServlet</servlet-name>
		<servlet-class>top.karablog.controller.ChangeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangeServlet</servlet-name>
		<url-pattern>/change</url-pattern>
	</servlet-mapping>
	
	<!-- 拾获校园卡-->
	<servlet>
		<servlet-name>PickupServlet</servlet-name>
		<servlet-class>top.karablog.controller.PickupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PickupServlet</servlet-name>
		<url-pattern>/pickup</url-pattern>
	</servlet-mapping>
	
</web-app>
